<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta content="text/html; charset=windows-1252"
      http-equiv="content-type">
    <title>Footer</title>
  </head>
  <body bgcolor="#E6E6FA">
    <small><small><b><i>Disclaimer: </i></b>This SOFTWARE PRODUCT is
        provided by THE PROVIDER "as is" and "with all faults." THE
        PROVIDER makes no representations or warranties of any kind
        concerning the safety, suitability, lack of viruses,
        inaccuracies, typographical errors, or other harmful components
        of this SOFTWARE PRODUCT. There are inherent dangers in the use
        of any software, and you are solely responsible for determining
        whether this SOFTWARE PRODUCT is compatible with your equipment
        and other software installed on your equipment. You are also
        solely responsible for the protection of your equipment and
        backup of your data, and THE PROVIDER will not be liable for any
        damages you may suffer in connection with using, modifying, or
        distributing this SOFTWARE PRODUCT.
        <br>
      </small></small><small><small>(c) ILL 2003-2018 ;<a
          href="http://www.synchrotron-soleil.fr" target="_top">SOLEIL</a>
        2019- <a href="mailto:emmanuel.farhi@synchrotron-soleil.fr">Emmanuel Farhi</a></small></small>.
    <b><a href="../index.html" target="_top"><small><small>Other computing services</small></small></a></b>.<br>
    <h1> </h1>
  </body>
</html>
